body {
	width: 100%;
	text-align: -webkit-center;
	overflow-x: hidden;
	font-family: sans-serif;
	margin: 0;
	background-color: #161819;
}

h1, h2, h3, h4 {
	padding: 10px;
	margin: auto 0;
	color: #fff;
}

hr {
	margin: 0 0 25px 0;
}

a:link {
	color: #90caf9;
	text-decoration: none;
}

a:visited {
	color: #f48fb1;
}

.btn-noticia {
	width: 500px;
	max-width: 100vw;
	height: auto;
	background-color: #303030;
	padding: 20px;
	border-radius: 15px;
	display: flex;
	font-size: 18px;
	font-weight: bold;
	color: #000;
	display: block;
	text-align: left;
	margin: 20px 0;
	border: none;
	transition: all .3s;
}

.btn-noticia:hover {
	background-color: #000; 
	transition: all .3s;
}

.btn-noticia p {
	font-size: 13px;
	color: #737377;
	word-wrap: break-word; 
}

.divNoticia {
	color: #fff;
	width: 80%;
	margin-bottom: 25px;
	text-align: left;
	font-size: 20px;
}

.divNoticia h3 {
	color: #90caf9;
	text-align: center;
	font-size: 24px;
}

.commentHeader {
	font-size: 22px;
	color: #f9bc90;
}

.comment {
	width: 100vw;
	max-width: 500px;
	height: auto;
	background-color: #303030;
	padding: 20px;
	border-radius: 15px;
	display: flex;
	font-size: 18px;
	font-weight: bold;
	display: block;
	text-align: left;
	margin: 20px 0;
	border: none;
	transition: all .3s;
}

.comment:hover {
	background-color: #000; 
	transition: all .3s;
}

.comment h4 {
	padding: 0;
	color: #fafafa;
}

.comment p {
	font-size: 13px;
	color: #babdb6;
	word-wrap: break-word;
	margin-bottom: 0;
}

.formNewComment {
	width: 100vw;
	max-width: 500px;
	height: auto;
	text-align: left;
}

.formNewComment label {
	color: #fafafa;
	width: 100%;
	margin-left: 10px;
	text-align: left;
	font-weight: bold;
}

.formNewComment input, .formNewComment textarea {
	width: 90%;
	margin: 10px 5px 20px 10px;
	border-radius: 5px;
	padding: 5px;
	background-color: #a9a9a9;
	border: none;
	transition: all .3s;
	color: 
}
.formNewComment input:focus, .formNewComment textarea:focus {
	background-color: #fafafa;
	transition: all .3s;
}

.formBtnSubmit {
	background-color: #90f994 !important;
	font-size: 14px;
}


.formEdit {
	position: fixed;
	right: 20px;
	bottom: 90px;
	background-color: transparent;
}

.formEdit button {
	background-color: #bf906e;
	padding: 10px;
	border-radius: 50%;
	border: none;
}

.formEdit img {
	background-color: transparent;
}


.formDelete {
	position: fixed;
	right: 20px;
	bottom: 20px;
	background-color: transparent;
}

.formDelete button {
	background-color: #ad5c77;
	padding: 10px;
	border-radius: 50%;
	border: none;
}

.formDelete img {
	background-color: transparent;
}